@tailwind base;
@tailwind components;
@tailwind utilities;
/*html,*/
/*body {*/
/*  min-height: 100vh;*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  font-family: system-ui, sans-serif;*/
/*}*/

/*a {*/
/*  color: inherit;*/
/*  text-decoration: none;*/
/*}*/

/** {*/
/*  box-sizing: border-box;*/
/*}*/

@layer base {
    :root {
        --color-primary: 0 0 0;
    }

    html,
    body {
        @apply min-h-screen m-0 p-0;
        @apply font-sans;
    }

    a {
        @apply text-inherit no-underline;
    }

    * {
        @apply box-border;
    }
}

@layer components {
    .container {
        @apply grid grid-rows-[auto_auto_1fr_36px] items-center min-h-screen;
        grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
    }

    .header {
        grid-area: header;
    }

    .main {
        @apply justify-center ml-0 2xl:ml-80;
        grid-area: main;
    }

    .footer {
        @apply justify-self-center;
        grid-area: footer;
    }

    .nav {
        @apply flex flex-row items-center gap-2 text-[calc(10px_+_2vmin)] p-2 bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600;
        grid-area: nav;
    }

    .header,
    .main {
        @apply flex flex-col items-center justify-center;
    }

    .equals {
        @apply col-[1/3] bg-stone-500;
    }

    .opt {
        @apply bg-amber-400;
    }
}
