@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url('../font/Zoho Puvi Regular.ttf');
    font-family: Zoho;
}

@layer base {
    :root {
        --color-primary: 0 0 0;
        --zoho-logo-web: url(//www.zohowebstatic.com/sites/zweb/images/commonroot/zoho-logo-web.svg);
        --bg-icon-arrow: url(//www.zohowebstatic.com/sites/zweb/images/zoho_general_pages/zh-newhome-sprite.png);
        --primary-color: #010101;
        --secondary-color: #333;
        --highlight-color: #056cb8;
        --bg-color: #f8f9fb;
        --redclr: #f60014;
        --bg-blue-color: #0060b4;
        --primaryfont-bold: 'opensansbold';
        --primaryfont-semibold: 'opensanssemibold';
        --primaryfont-regular: 'opensansregular';
        --secondaryfont-bold: 'opensansbold';
        --secondaryfont-semibold: 'opensanssemibold';
        --secondaryfont-regular: 'opensansregular';
        --zf-secondary-thin: 'opensanslight';
        --zf-secondary-thinitalic: 'opensanslightitalic';
        --zf-secondary-extralight: 'opensanslight';
        --zf-secondary-light: 'opensanslight';
        --zf-secondary-lightitalic: 'opensanslightitalic';
        --zf-secondary-regular: 'opensansregular';
        --zf-secondary-regularitalic: 'opensansregularitalic';
        --zf-secondary-medium: 'opensansregular';
        --zf-secondary-semibold: 'opensanssemibold';
        --zf-secondary-semibolditalic: 'opensanssemibolditalic';
        --zf-secondary-bold: 'opensansbold';
        --zf-secondary-bolditalic: 'opensansbolditalic';
        --zf-secondary-extrabold: 'opensansextrabold';
        --zf-secondary-extrabolditalic: 'opensansextrabolditalic';
        --zf-secondary-black: 'opensansextrabold';
        --zf-secondary-blackitalic: 'opensansextrabolditalic';
        --zf-secondary-extrablack: 'opensansextrabold';
        --zf-primary-thin: 'opensanslight';
        --zf-primary-thinitalic: 'opensanslightitalic';
        --zf-primary-light: 'opensanslight';
        --zf-primary-lightitalic: 'opensanslightitalic';
        --zf-primary-regular: 'opensansregular';
        --zf-primary-regularitalic: 'opensansregularitalic';
        --zf-primary-semibold: 'opensanssemibold';
        --zf-primary-semibolditalic: 'opensanssemibolditalic';
        --zf-primary-bold: 'opensansbold';
        --zf-primary-bolditalic: 'opensansbolditalic';
        --zf-primary-extrabold: 'opensansextrabold';
        --zf-primary-extrabolditalic: 'opensansextrabolditalic';
        --zf-primary-black: 'opensansextrabold';
        --zf-primary-blackitalic: 'opensansextrabolditalic';
        --zf-primary-extrablack: 'opensansextrabold';
        --zoho-logo: url(//www.zohowebstatic.com/sites/zweb/images/commonroot/zoho-logo.svg);
        --zoho-logo-white: url(//www.zohowebstatic.com/sites/zweb/images/commonroot/zoho-logo-white.svg);
        --zoho-logo-darkbg: url(//www.zohowebstatic.com/sites/zweb/images/commonroot/zoho-logo-darkbg.svg);
        --mobile-app-icons: url(//www.zohowebstatic.com/sites/zweb/images/commonroot/mobile-apps.png);
        --common-elements: url(//www.zohowebstatic.com/sites/zweb/images/commonroot/common-elements.svg);
        --country-flags: url(../image/country-flags.png);
        --product-icons-png: url(//www.zohowebstatic.com/sites/zweb/images/commonroot/product-icons.png);
        --compliance-badges: url(//www.zohowebstatic.com/sites/zweb/images/commonroot/compliance-badges.png);
        --product-icons: url(../image/product-icons.svg);
        --tick-icon: url(//www.zohowebstatic.com/sites/zweb/images/zoho\_general\_pages/zh-tickicon.svg);
        --zp-i-w: 40px;
        --zp-i-h: 40px;
        --zp-i-bs: 800px auto;
        --zp-analytics: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/analytics.svg);
        --zp-apptics: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/apptics.svg);
        --zp-assist: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/assist.svg);
        --zp-backstage: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/backstage.svg);
        --zp-backtowork: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/backtowork.svg);
        --zp-bookings: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/bookings.svg);
        --zp-books: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/books.svg);
        --zp-bugtracker: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/bugtracker.svg);
        --zp-calendar: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/calendar.svg);
        --zp-campaigns: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/campaigns.svg);
        --zp-catalyst: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/catalyst.svg);
        --zp-checkout: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/checkout.svg);
        --zp-cliq: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/cliq.svg);
        --zp-commerce: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/commerce.svg);
        --zp-connect: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/connect.svg);
        --zp-contracts: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/contracts.svg);
        --zp-creator: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/creator.svg);
        --zp-creatorplus: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/creatorplus.svg);
        --zp-crm: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/crm.svg);
        --zp-crmplus: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/crmplus.svg);
        --zp-dashboards: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/dashboards.svg);
        --zp-dataprep: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/dataprep.svg);
        --zp-deluge: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/deluge.svg);
        --zp-desk: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/desk.svg);
        --zp-directory: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/directory.svg);
        --zp-domains: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/domains.svg);
        --zp-expense: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/expense.svg);
        --zp-financeplus: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/financeplus.svg);
        --zp-flow: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/flow.svg);
        --zp-forms: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/forms.svg);
        --zp-fsm: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/fsm.svg);
        --zp-hacksaw: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/hacksaw.svg);
        --zp-inventory: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/inventory.svg);
        --zp-invoice: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/invoice.svg);
        --zp-itmanagement: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/it-management.svg);
        --zp-jeeves: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/jeeves.svg);
        --zp-landingpage: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/landingpage.svg);
        --zp-learn: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/learn.svg);
        --zp-lens: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/lens.svg);
        --zp-logs: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/logs.svg);
        --zp-mail: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/mail.svg);
        --zp-mail360: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/mail360.svg);
        --zp-marketingautomation: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/marketingautomation.svg);
        --zp-marketingplus: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/marketingplus.svg);
        --zp-marketplace: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/marketplace.svg);
        --zp-meeting: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/meeting.svg);
        --zp-motivator: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/motivator.svg);
        --zp-notebook: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/notebook.svg);
        --zp-officesuite: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/officesuite.svg);
        --zp-one: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/one.svg);
        --zp-pagesense: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/pagesense.svg);
        --zp-payments: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/payments.svg);
        --zp-payroll: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/payroll.svg);
        --zp-people: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/people.svg);
        --zp-peopleplus: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/peopleplus.svg);
        --zp-phonebridge: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/phonebridge.svg);
        --zp-qengine: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/qengine.svg);
        --zp-projects: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/projects.svg);
        --zp-publish: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/publish.svg);
        --zp-recruit: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/recruit.svg);
        --zp-remotely: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/remotely.svg);
        --zp-researchstudio: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/researchstudio.svg);
        --zp-routeiq: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/routeiq.svg);
        --zp-salesiq: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/salesiq.svg);
        --zp-sheet: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/sheet.svg);
        --zp-shifts: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/shifts.svg);
        --zp-show: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/show.svg);
        --zp-showtime: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/showtime.svg);
        --zp-sigma: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/sigma.svg);
        --zp-sign: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/sign.svg);
        --zp-sites: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/sites.svg);
        --zp-social: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/social.svg);
        --zp-spark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/spark.svg);
        --zp-sprints: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/sprints.svg);
        --zp-subscriptions: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/subscriptions.svg);
        --zp-survey: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/survey.svg);
        --zp-tables: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/tables.svg);
        --zp-teaminbox: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/teaminbox.svg);
        --zp-thrive: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/thrive.svg);
        --zp-todo: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/todo.svg);
        --zp-toolkit: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/toolkit.svg);
        --zp-vault: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/vault.svg);
        --zp-voice: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/voice.svg);
        --zp-webinar: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/webinar.svg);
        --zp-workdrive: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/workdrive.svg);
        --zp-workerly: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/workerly.svg);
        --zp-workplace: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/workplace.svg);
        --zp-writer: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/writer.svg);
        --zp-zeptomail: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/zeptomail.svg);
        --zp-zia: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/zia.svg);
        --zp-ziasearch: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/ziasearch.svg);
        --zp-zillum: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/zillum.svg);
        --zp-zohobigin: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/zohobigin.svg);
        --zp-analytics-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/analytics-dark.svg);
        --zp-apptics-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/apptics-dark.svg);
        --zp-assist-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/assist-dark.svg);
        --zp-backstage-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/backstage-dark.svg);
        --zp-backtowork-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/backtowork-dark.svg);
        --zp-bookings-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/bookings-dark.svg);
        --zp-books-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/books-dark.svg);
        --zp-bugtracker-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/bugtracker-dark.svg);
        --zp-calendar-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/calendar-dark.svg);
        --zp-campaigns-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/campaigns-dark.svg);
        --zp-catalyst-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/catalyst-dark.svg);
        --zp-checkout-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/checkout-dark.svg);
        --zp-cliq-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/cliq-dark.svg);
        --zp-commerce-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/commerce-dark.svg);
        --zp-connect-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/connect-dark.svg);
        --zp-contracts-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/contracts-dark.svg);
        --zp-creator-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/creator-dark.svg);
        --zp-creatorplus-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/creatorplus-dark.svg);
        --zp-crm-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/crm-dark.svg);
        --zp-crmplus-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/crmplus-dark.svg);
        --zp-dashboards-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/dashboards-dark.svg);
        --zp-dataprep-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/dataprep-dark.svg);
        --zp-deluge-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/deluge-dark.svg);
        --zp-desk-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/desk-dark.svg);
        --zp-directory-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/directory-dark.svg);
        --zp-domains-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/domains-dark.svg);
        --zp-expense-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/expense-dark.svg);
        --zp-financeplus-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/financeplus-dark.svg);
        --zp-flow-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/flow-dark.svg);
        --zp-forms-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/forms-dark.svg);
        --zp-fsm-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/fsm-dark.svg);
        --zp-hacksaw-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/hacksaw-dark.svg);
        --zp-inventory-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/inventory-dark.svg);
        --zp-invoice-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/invoice-dark.svg);
        --zp-itmanagement-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/it-management-dark.svg);
        --zp-jeeves-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/jeeves-dark.svg);
        --zp-landingpage-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/landingpage-dark.svg);
        --zp-learn-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/learn-dark.svg);
        --zp-lens-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/lens-dark.svg);
        --zp-logs-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/logs-dark.svg);
        --zp-mail-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/mail-dark.svg);
        --zp-mail360-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/mail360-dark.svg);
        --zp-marketingautomation-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/marketingautomation-dark.svg);
        --zp-marketingplus-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/marketingplus-dark.svg);
        --zp-marketplace-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/marketplace-dark.svg);
        --zp-meeting-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/meeting-dark.svg);
        --zp-motivator-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/motivator-dark.svg);
        --zp-notebook-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/notebook-dark.svg);
        --zp-officesuite-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/officesuite-dark.svg);
        --zp-one-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/one-dark.svg);
        --zp-pagesense-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/pagesense-dark.svg);
        --zp-payments-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/payments-dark.svg);
        --zp-payroll-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/payroll-dark.svg);
        --zp-people-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/people-dark.svg);
        --zp-peopleplus-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/peopleplus-dark.svg);
        --zp-phonebridge-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/phonebridge-dark.svg);
        --zp-qengine-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/qengine-dark.svg);
        --zp-projects-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/projects-dark.svg);
        --zp-publish-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/publish-dark.svg);
        --zp-recruit-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/recruit-dark.svg);
        --zp-remotely-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/remotely-dark.svg);
        --zp-researchstudio-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/researchstudio-dark.svg);
        --zp-routeiq-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/routeiq-dark.svg);
        --zp-salesiq-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/salesiq-dark.svg);
        --zp-sheet-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/sheet-dark.svg);
        --zp-shifts-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/shifts-dark.svg);
        --zp-show-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/show-dark.svg);
        --zp-showtime-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/showtime-dark.svg);
        --zp-sigma-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/sigma-dark.svg);
        --zp-sign-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/sign-dark.svg);
        --zp-sites-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/sites-dark.svg);
        --zp-social-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/social-dark.svg);
        --zp-spark-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/spark-dark.svg);
        --zp-sprints-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/sprints-dark.svg);
        --zp-subscriptions-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/subscriptions-dark.svg);
        --zp-survey-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/survey-dark.svg);
        --zp-tables-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/tables-dark.svg);
        --zp-teaminbox-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/teaminbox-dark.svg);
        --zp-thrive-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/thrive-dark.svg);
        --zp-todo-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/todo-dark.svg);
        --zp-toolkit-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/toolkit-dark.svg);
        --zp-vault-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/vault-dark.svg);
        --zp-voice-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/voice-dark.svg);
        --zp-webinar-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/webinar-dark.svg);
        --zp-workdrive-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/workdrive-dark.svg);
        --zp-workerly-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/workerly-dark.svg);
        --zp-workplace-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/workplace-dark.svg);
        --zp-writer-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/writer-dark.svg);
        --zp-zeptomail-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/zeptomail-dark.svg);
        --zp-zia-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/zia-dark.svg);
        --zp-ziasearch-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/ziasearch-dark.svg);
        --zp-zillum-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/zillum-dark.svg);
        --zp-zohobigin-dark: url(//www.zohowebstatic.com/sites/zweb/images/productlogos/zohobigin-dark.svg);
        --zp-mail-bp: -360px_-40px;
        --zp-crm-bp: -320px_0;
        --zp-desk-bp: -680px_0;
        --zp-salesiq-bp: -360px_0;
        --zp-bigin-bp: -440px_-80px;
        --zp-social-bp: -480px_0;
        --zp-campaigns-bp: -440px_0;
        --zp-forms-bp: -560px_0;
        --zp-sites-bp: -600px_0;
        --zp-backstage-bp: -520px_0;
        --zp-meeting-bp: -760px_0;
        --zp-books-bp: 0_-40px;
        --zp-invoice-bp: -120px_-80px;
        --zp-expense-bp: -160px_-40px;
        --zp-inventory-bp: -40px_-40px;
        --zp-subscriptions-bp: -120px_-40px;
        --zp-checkout-bp: -200px_-40px;
        --zp-payroll-bp: -240px_-80px;
        --zp-motivator-bp: -400px_0;
        --zp-people-bp: -280px_-40px;
        --zp-recruit-bp: -240px_-40px;
        --zp-workerly-bp: -200px_-80px;
        --zp-creator-bp: -720px_-40px;
        --zp-flow-bp: -760px_-40px;
        --zp-vault-bp: -680px_-40px;
        --zp-bugtracker-bp: -600px_-40px;
        --zp-analytics-bp: -160px_-80px;
        --zp-writer-bp: -40px_-80px;
        --zp-sheet-bp: -560px_-80px;
        --zp-show-bp: -400px_-40px;
        --zp-notebook-bp: -480px_-40px;
        --zp-showtime-bp: -440px_-40px;
        --zp-backtowork-bp: -680px_-80px;
        --zp-shifts-bp: -80px_-80px;
        --zp-projects-bp: -520px_-40px;
        --zp-sprints-bp: -560px_-40px;
        --zp-orchestly-bp: -80px_-40px;
        --zp-cliq-bp: -640px_-40px;
        --zp-sign-bp: -640px_0;
        --zp-officeintegrator-bp: -600px_-120px;
        --zp-workdrive-bp: 0_-80px;
        --zp-commerce-bp: -280px_-80px;
        --zp-landingpage-bp: -320px_-120px;
        --zp-bookings-bp: -320px_-80px;
        --zp-marketinghub-bp: -360px_-80px;
        --zp-marketingautomation-bp: -360px_-80px;
        --zp-catalyst-bp: -400px_-80px;
        --zp-lens-bp: -480px_-80px;
        --zp-endpointcentral-bp: -640px_-120px;
        --zp-zeptomail-bp: -760px_-80px;
        --zp-calendar-bp: -200px_-120px;
        --zp-voice-bp: -280px_-120px;
        --zp-embeddedbi-bp: -240px_-120px;
        --zp-contracts-bp: -600px_-80px;
        --zp-dataprep-bp: -120px_-120px;
        --zp-learn-bp: 0_-120px;
        --zp-teaminbox-bp: -720px_-80px;
        --zp-officesuite-bp: -320px_-40px;
        --zp-zillum-bp: -40px_-160px;
        --zp-tasks-bp: -80px_-160px;
        --zp-one-bp: -160px_0;
        --zp-fplus-bp: -80px_0;
        --zp-pplus-bp: -280px_0;
        --zp-crmplus-bp: 0_auto;
        --zp-workplace-bp: -40px_0;
        --zp-mplus-bp: -240px_0;
        --zp-deluge-bp: -720px_-120px;
        --zp-spark-bp: -760px_-120px;
        --zp-ziasearch-bp: -680px_-120px;
        --zp-toolkit-bp: -80px_-120px;
        --zp-oneauth-bp: 0_-160px;
        --zp-qntrl-bp: -160px_-120px;
        --zp-survey-bp: -160px_-160px;
        --zp-connect-bp: -120px_-160px;
        --zp-pagesense-bp: -240px_-160px;
        --zp-remotely-bp: -520px_-80px;
        --zp-patchmanager-bp: -42px_0;
        --zp-zia-bp: -640px_-80px;
        --zp-assist-bp: -720px_0;
        --zp-thrive-bp: -280px -160px;
        --zp-routeiq-bp: -320px_-160px;
        --zp-directory-bp: -360px_-160px;
        --zp-apptics-bp: -400px_-160px;
        --zp-webinar-bp: -480px_-160px;
        --zp-remoteaccessplus-bp: -520px_-160px;
        --zp-pilot-bp: -560px_-160px;
        --zp-sigma-bp: -600px_-160px;
        --zp-tables-bp: -720px_-160px;
        --zp-fsm-bp: 0_-200px;
        --zp-identitymanagement-bp: -203px_0;
        --zp-logmanagement-bp: -286px_0;
        --zp-itmanagement-bp: -120px_0;
        --zp-researchstudio-bp: -439px_-160px;
    }

    html,
    body {
        @apply min-h-screen m-0 p-0;
    }

    body {
        font: 16px/1.5 Zoho, sans-serif;
        color: #010101;
        -webkit-font-smoothing: antialiased !important;
        font-family: Zoho, sans-serif;
    }


    a {
        @apply text-inherit no-underline;
    }

    * {
        @apply box-border;
    }

}

@layer components {
    .container {
        @apply flex flex-col min-h-screen m-auto;
    }

    .footer {
        @apply justify-self-center;
    }

    .nav {
        @apply fixed w-full z-[22] bg-white h-[75px] top-0;
    }

    .main {
        @apply flex flex-col items-center justify-center;
    }

    .equals {
        @apply col-[1/3] bg-stone-500;
    }

    .opt {
        @apply bg-amber-400;
    }

    .ull {
        @apply align-baseline m-0 p-0 border-0 list-none;
    }

    .custom-backdrop {
        @apply after:content-[""] after:bg-[rgba(0,0,0,0.4)] after:w-full after:h-full after:fixed after:z-[-1] after:left-0 after:top-[130px];
    }
}
